{% extends 'layout.html' %}

{% block body %}
<div class="form-container">
    <span class="logo">Change Password</span>
    {% from "includes/_formhelpers.html" import render_field_no_label %}
    <form method="POST" action="">
        <div class="form-group"></span>
            <label>New Password</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fa fa-lock"></span>
                </div>
            {{render_field_no_label(form.password, class_= "form-control")}}
            </div>
        </div>
        <div class="form-group"></span>
            <label>Confirm Password</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fa fa-lock"></span>
                </div>
            {{render_field_no_label(form.confirm, class_= "form-control")}}
            </div>
        </div>

        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>
</div>
{% endblock %}
