{% extends 'layout.html' %}
{% block body %}

<div class="card">
    <div class="card-header bg-dark d-flex flex-row justify-content-start">
        <form method="POST" action="undo_trash_res">
            <button class="btn undo_btn" id="master_undo" type="submit" name="res_id" value="*"><span class="fa fa-undo"></span> Recover all</button>
        </form>   
        <form method="POST" action="del_trash_res">
            <button class="btn btn-danger undo_btn" type="submit" name="res_id" value="*"><span class="fa fa-times"></span> Delete all</button>
        </form>  
    </div>


    <ul class="list-group">
        {% if is_empty %}
            <li class="list-group-item">Trash is empty.</li>
        {% else %}
            {% for res in del_resources %}
                <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                    <h5 class="res_title">{{ res.title }}</h5>
                    <div class="d-flex flex-row justify-content-end">
                        <form method="POST" action="undo_trash_res">
                            <button class="btn undo_btn" type="submit" name="res_id" value="{{ res.re_id }}"><span class="fa fa-undo"></span></button>
                        </form>
                        <form method="POST" action="del_trash_res">
                            <button class="btn btn-danger" type="submit" name="res_id" value="{{ res.re_id }}"><span class="fa fa-times"></span></button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}