<img src="https://threerstore.herokuapp.com/static/icons/3rstore_logo.png" width="50px" height="50px"><br>
<hr>

A password recovery has been initiated on your 3RStore account.<br><br>

Please <strong>click on the link below to continue with the recovery : </strong> <br><br>

<a href="{{ pwd_reset_url }}"> {{ pwd_reset_url }}</a>

<br>
For any technical problems, questions ,and the like - please email the administrator at : dimitristsimpitas@gmail.com

<br>
<em>This message was sent automatically. Please do not reply.</em>
