<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3RStore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/_shared.css">

    {% if (request.endpoint == 'resources' or request.endpoint == 'open_share') and view == 'full' %} <!-- Keep after bootstrap css cdn -->
        <script src="/static/js/resources.js"></script>
        <link rel="stylesheet" href="/static/css/_shared_resources.css">
        <link rel="stylesheet" href="/static/css/resources.css">
    {% else %}
        <script src="/static/js/resources_cmpct.js"></script>
        <link rel="stylesheet" href="/static/css/_shared_resources.css">
        <link rel="stylesheet" href="/static/css/resources_cmpct.css">
    {% endif %}

    {% if request.endpoint == 'options' %}
        <link rel="stylesheet" href="/static/css/options.css">
    {% endif %}
    {% if request.endpoint == 'register' %}
        <link rel="stylesheet" href="/static/css/register.css">
    {% endif %}
    {% if request.endpoint == 'deleted_res' %}
        <link rel="stylesheet" href="/static/css/_shared_resources.css">
        <link rel="stylesheet" href="/static/css/deleted_resources.css">
    {% endif %}
    <link rel="stylesheet" href="/static/css/_navbar.css">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </div>

    {% block no_container %}{% endblock %}

</body>
</html>
