{% extends 'layout.html' %}

{% block body %}
<div class="form-container">
    <span class="logo">Login</span>
    <form method="POST" action="" class="form">
        <div class="form-group">
            <label><span class="fa fa-user"></span> Username</label>
            <input type="text" name="username" class="form-control" value="{{request.form.username}}">
        </div>
        <div class="form-group">
            <label><span class="fa fa-lock"></span> Password</label>
            <input type="password" name="password" class="form-control" value="{{request.form.password}}">
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="d-flex" style="flex-direction: column;">
                <a href="/reset"><em>Forgot your password?</em></a>
                <a href="/register"><em>Do not have an account?</em></a>
            </div>
        </div>
    </form>
</div>
{% endblock %}