{% extends 'layout.html' %}
{% block body %}

<div class="list-group well">
    <!-- Delete all dropdown -->
    <div class="dropdown">
        <button class="list-group-item list-group-item-danger" data-toggle="dropdown">
            <span class="glyphicon glyphicon-remove"></span>  
            Delete all resources
        </button>

        <ul class="dropdown-menu">
            <li><a id="delete_all" href="/delall/{{session.user_id}}"><span class="glyphicon glyphicon-ok"></span> Confirm</a></li>
        </ul>
    </div>
    <!-- /Delete all dropdown -->

    
</div>

{% endblock %}