{% extends 'layout.html' %}


{% block body %}
    <h1>{{session.username}} <span id="re_amount"> - {{resources|length}} resources saved.</span></h1>

    <div class="table-responsive">
        <table class="up_but table">
            <tr>
                <td>
                    <div  class="btn-group">
                        <a class="btn btn-success" href="/add_resource">
                            <span class="fa fa-plus-circle"></span>
                            Add new Resource
                        </a>
                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#upload_file">
                            <span class="fa fa-upload"></span>                
                            Import from file
                        </button>
                    </div>
                </td>
                <td>
                    <div class="input-group" id="searchbar_cont">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                        <input list="tags" type="text" id="search_input" class="form-control" placeholder="Search via tags or title...">
                        <datalist id="tags">
                            {% for tag in tags %}
                                <option value="{{tag}}" class="datalist_option" ></option>
                            {% endfor %}
                        </datalist>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    
    <form method="POST" action="/import_resources" enctype="multipart/form-data" id="upload_file"  class="collapse jumbotron form-group">
        <label>Select file to import from</label>
        <input class="form_item form-control-file" type="file" name="file" accept=".html">

        <div class="col-4">
            <input class="form_item form-control" type="text" name="incl" placeholder="Include only folder(s)...">
            <input class="form_item form-control" type="text" name="excl" placeholder="Exclude folder(s)...">
        </div>

        <div class="col-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    
    





    {% for re in resources %}
    <div class="card bg-primary re_cards">
        
        <div class="card-header d-flex flex-column justify-content-between" style="flex:1;min-width:0;">    
            <div class="d-flex flex-row justify-content-between" style="flex:1;min-width:0;">
                
                <h4><a href="{{re.link}}" class="re_info" target="_blank">{{re.title}}</a></h4>

                <!--Dropdown-->
                <div class="dropdown align-self-start"> 
                    <button class="btn btn-sm btn-primary dropdown-but dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/edit/{{re.user_id}}/{{re.re_id}}"><span class="fa fa-pencil"></span>  Edit</a>
                        <a class="dropdown-item" id="delete_but" href="/del/{{re.user_id}}/{{re.re_id}}" ><span class="fa fa-remove"></span>  Delete</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="date">Added {{re.date_of_posting.strftime('%Y-%m-%d')}}</a>
                    </div>
                </div>
                <!--/Dropdown-->

            </div>
               
            <!-- Link -->
            <a href="{{re.link}}" class="re_info" target="_blank">{{re.link}}</a>

            <!-- Tags -->
            {% if re.tags %}
                <div>
                    {% for tag in re.tags %}
                        <div class="badge bg-secondary text-white re_tags">{{tag}}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
            

        <!-- Note section -->
        {% if re.note %}
            <div class="card-footer">
                {% if re.note.split('</br>') | length > 5 %} <!-- If note has more than 5 lines -->
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#{{re.re_id}}_note">Expand/Collapse Note</button>
                    <p id="{{re.re_id}}_note" class="collapse re_note"><br>{{ re.note | safe }}</p>
                {% else %}
                    <p id="{{re.re_id}}_note" class="re_note">
                        {{ re.note | safe }}
                    </p>
                {% endif %}
            </div>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}