a:focus {
    outline: none; 
}

.c-brand {
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
}

nav {
    margin-bottom: 2em;
    padding: 0 !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    width: 100%;
}

.active {
    border-bottom: 3px solid white;
}