.form-container {
    padding: 2em;
    box-shadow: 10px 10px 0px rgb(24, 144, 255);
    background-color: rgb(236, 236, 236);

    max-width: 30%;
    max-height: auto;
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.form-container-extended {
    max-width: 50%;
}

.form-container > span {
    text-align: center;
    font-size: 3em;
}

.form {
    max-width: 100%;
}

.logo {
    font-family: 'Caveat', cursive;
    font-size: 2.4em;
}

.logo::first-letter {
    color: gold;
}

@media (max-width: 1000px){
    .form-container{
        padding: 1em;
        max-width: 50%;
        font-size: 1em;
    }
}

@media (max-width: 600px){
    .form-container{
        padding: 1em;
        max-width: 100%;
        font-size: 1em;
    }
}