.re_info{
    margin-right: 1em;
    line-height: 1;
    display: block;
}

.re_tags{
    display: inline;
}

.card-footer{
    display:none;
}

.show-note{
    border-color: #0054A0;
}

.show-note-prim{
    margin-top:1em;
    margin-right:-1em;
    padding:0;
}

.grid-item {
    width: 30%;
    margin: .2em;
}


@media (max-width: 700px){
    .re_info{
        font-size: .8em;
        font-weight: 450;

    }

    .re_tags{
        font-size: .8em;
    }
}

@media (max-width: 360px){
    #res_pg_header{
        font-size: 2em;
    }

    .re_info{
        font-size: .5em;
        font-weight: 400;

    }

    .re_tags{
        font-size: .5em;
    }
}