html {
    overflow: scroll;
    overflow-x: hidden;
}

.label{
    letter-spacing: .1em;
    font-weight: 100;
}

.up_but{
    margin-bottom: 5em;
}

p{
    word-wrap: break-word;        
}

a, a:hover, a:active, a:focus{
    text-decoration: none;
    color:white;
}

#delete_but{
    color: rgb(206, 48, 48);
    font-weight: bold;
}

#date{
    font-size:1em;
    color: grey;
    text-align: center;
}

.re_info{
    color:white;

    text-overflow: ellipsis;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    
    min-width:0;
    
    flex-shrink: 1;
    flex-basis:5%;
}

.re_info:hover{
    color: white;
}

.re_cards{
    margin-bottom:1em;
}

.re_tags{
    font-weight:400;
    letter-spacing: .1em;
}

.dropdown-but{
    border-color: #0054A0;
    flex-grow:1;
}

.dropdown{
    margin-right: -1em;
    margin-top: -.5em;
}
.card-footer{
    background: white !important;
    color:black;
}

.re_note{
    color:black;
    margin-bottom:0;
}

.form_item{
    margin-bottom: 1em;
}

tr{width: 100%}

@media(max-width: 767px) {
    td {
      display: table-row;
    }
}
@media(max-width: 480px) {
    h4 {
      font-size: 12pt;
    }
}