{% extends 'layout.html' %}

{% block body%}
<div class="container">
    <h1>Welcome {{session.username}}</h1>
    <a class="btn btn-success" href="/add_resource" style="margin-bottom:5em">Add new Resource</a>

    {% for re in resources %}
        <div class="list-group">
        <a class="list-group-item active" href="{{re.link}}">
            <h1 class="list-group-item-heading">{{re.title}}<h5 class="pull-right">{{re.date_of_posting.strftime('%Y-%m-%d')}}</h5></h1>
            <h5 class="list-group-item-text">{{re.link}}</h5>
        </a>

        {% if re.note|length > 100 %}
        <div class="list-group-item">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{re.re_id}}_note">Expand/Collapse Note</button>
            <p class="collapse" id="{{re.re_id}}_note" style="word-wrap:break-word">{{re.note}}</p>
        </div>

        {% else %}
        <p class="list-group-item" id="{{re.re_id}}_note" style="word-wrap:break-word">{{re.note}}</p>
        {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}