{% extends 'layout.html' %}


{% block body %}
    <h1>Welcome {{session.username}}</h1>
    <div class="up_but btn-group">
        <a class="btn btn-success" href="/add_resource">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Add new Resource
        </a>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#upload_file">
            <span class="glyphicon glyphicon-open"></span>                
            Import from file
        </button>
    </div>

    <form method="post" action="/import_resources" enctype="multipart/form-data" id="upload_file" class="collapse">
        <div id="form" class="jumbotron">
            <div class="form-group">
                <label>Choose file to import from</label>
                <input class="form-control-file" type="file" name="file" accept=".html">
            </div>
                <div class="form-group">
                <input type="submit"></input>
            </div>
        </div>
    </form>


    {% for re in resources %}
        <div class="list-group">

             <!--Blue header-->
            <div class="list-group-item active">
                <!--Dropdown-->
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="ddmenu">
                        <li><a href="/edit/{{re.user_id}},{{re.re_id}}"><span class="glyphicon glyphicon-pencil"></span>  Edit</a></li>
                        <li><a id="delete_but" href="/del/{{re.user_id}},{{re.re_id}}" ><span class="glyphicon glyphicon-remove"></span>  Delete</a></li>
                        <li><div class="divider"></div></li>
                        <li><a id="date" class="dropdown-item">Added {{re.date_of_posting.strftime('%Y-%m-%d')}}</a></li>
                    </ul>
                </div>
                <!--/Dropdown-->

                <h3><a id="re_title" href="{{re.link}}" class="list-group-item-heading">{{re.title}}</a></h3>
                <a id="re_link" href="{{re.link}}" class="list-group-item-heading">{{re.link}}</a>
                
                <!-- Tags -->
                {% if re.tags %}
                    <br>
                    {% for tag in re.tags %}
                        <div class="label label-default">{{tag}}</div>
                    {% endfor %}
                {% endif %}
            </div>
           


            <!-- Note section -->
            {% if re.note|length > 0 %}
                {% if re.note|length > 100 %}
                    <div class="list-group-item">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{re.re_id}}_note">Expand/Collapse Note</button>
                        <p class="collapse" id="{{re.re_id}}_note"><br>{{re.note}}</p>
                    </div>
                {% else %}
                    <p class="list-group-item" id="{{re.re_id}}_note">{{re.note}}</p>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}