{% extends 'layout.html' %}

{% block body%}
<div class="container">
    <h1>Welcome {{session.username}}</h1>
    <a class="btn btn-success" href="/add_resource" style="margin-bottom:5em">Add new Resource</a>

    {% for re in resources %}
        <div class="list-group">

             <!--Blue header-->
            <div class="list-group-item active">
                <!--Dropdown-->
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>  Edit</a></li>
                        <li><a id="delete_but" href="/del/{{re.user_id}},{{re.re_id}}" ><span class="glyphicon glyphicon-remove"></span>  Delete</a></li>
                        <li><div class="divider"></div></li>
                        <li><a id="date" class="dropdown-item">Added {{re.date_of_posting.strftime('%Y-%m-%d')}}</a></li>
                    </ul>
                </div>
                <!--/Dropdown-->

                <h3><a href="{{re.link}}" class="list-group-item-heading">{{re.title}}</a></h3>
                <a href="{{re.link}}" class="list-group-item-heading">{{re.link}}</a>
            </div>
           


            <!-- Note section -->
            {% if re.note|length > 0 %}
                {% if re.note|length > 100 %}
                    <div class="list-group-item">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{re.re_id}}_note">Expand/Collapse Note</button>
                        <p class="collapse" id="{{re.re_id}}_note"><br>{{re.note}}</p>
                    </div>
                {% else %}
                    <p class="list-group-item" id="{{re.re_id}}_note">{{re.note}}</p>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>

<style>

    p{
        word-wrap: break-word;        
    }
    a:hover{
        text-decoration: none;
    }

    #delete_but{
        color: rgb(206, 48, 48);
        font-weight: bold;
    }

    #date{
        font-size:1em;
        color: grey;
        text-align: center;
    }

</style>
{% endblock %}